header{
    /* font-family: 'Merriweather', serif;
    font-family: 'Open Sans', sans-serif; */
    width: 1320px;
    height: 600px;
    background-image:linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url(../images/Banner\ Image.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: 50px auto;
    border-radius: 16px;
   
}
.text{
    color: #fff;
    font-family: Merriweather;
    text-align: center;
    font-style: normal;
    padding: 130px;
}
   
.text h5{
    font-size: 28px;
    font-weight: 400;
}

.text h1{
    font-size: 72px;
    font-weight: 90px;

}