header{
    /* font-family: 'Merriweather', serif;
    font-family: 'Open Sans', sans-serif; */
    width: 1320px;
    height: 600px;
    background-image:linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url(../images/Banner\ Image.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: 50px auto;
    border-radius: 16px;
   
}
.text{
    color: #fff;
    font-family: Merriweather;
    text-align: center;
    font-style: normal;
    padding: 130px;
}
   
.text h5{
    font-size: 28px;
    font-weight: 400;
}

.text h1{
    font-size: 72px;
    font-weight: 90px;

}

.full-content{
    width: 1600px;
    height: 7335px;
    margin: 0 auto;


}

.content-text{
    background-color: #FFF; 
    text-align: center;
    font-family: Inter;
    font-style: normal;
    line-height: normal;
}
.content-text h1{
    color: #F00;
    font-family: Inter;
    font-size: 88px;
    font-weight: 700;
}
.content-text h5{
    color: #F00;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;

}
.content-text h3{
    color:  #070211;
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;

}
.content-img{
    margin-top: 50px;
    margin-left: 385px;

}
.banner-content{
    height: 600px;
    width: 1320px;
    background-image: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url(../images/Vectorrr.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: 80px auto;
    border-radius: 12px;
    position: relative;


}
.banner-text{
    font-style: normal;
    padding-bottom: 50px;

}
.banner-text h2{
    color: #FFF;
    font-family: Merriweather;
    font-size: 64px;
    font-weight: 900;
    letter-spacing: 7px;
    padding: 126px 55px 0px 126px;

}
.banner-text p{
    color: #ffffffbb;
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    padding: 0px 100px 48px 126px;
    margin-right: 450px;
}
.banner-img{
    width: 340px;
    height: 465px;
    
}
.banner-img img{
    top: 60px;
    right: 50px;
    position: absolute;
}
.banner-text button{
    margin-left: 126px;
    text-transform: uppercase;
    font-size: 18px;
    font-family: Inter;
    font-weight: 700;
    padding: 5px 12px;
    border-radius: 5px;
    cursor: pointer;
    border: 1px solid transparent;
    background-color: #F00;
    color: #fff;

}
.banner-text button:hover{
    background-color: transparent;
    transition: all .5s linear;
    background-color: #fff ;
    color: #F00;
}
.event-time{
    width: 1320px;
    height: 400px;
    background-position: center;
    background: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);
    margin: 80px auto;
    border-radius: 12px;
    padding-top: 100px;
    text-align: center;

}
.event-time p{
    color: #070211;
    text-align: center;
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    text-transform: capitalize;
}
.event-time p strong{
    color: #F00;
}

.event-time button{
    margin-top: 20px;
    text-transform: uppercase;
    font-size: 18px;
    font-family: Inter;
    font-weight: 700;
    padding: 10px 12px;
    border-radius: 5px;
    cursor: pointer;
    border: 1px solid transparent;
    background-color: #F00;
    color: #fff;

}
.event-time button:hover{
    background-color: transparent;
    transition: all .5s linear;
    background-color: #fff  ;
    color: #F00;
}
.content-design{
    width: 1320px;
    height: 460px;
    background:#fff;
    margin: -10px auto;
    /* position: relative; */
}
.text-part-one{
    text-align: left;
    font-style: normal;
    padding-top: 42px;
}
.text-part-one h4{
    color: #F00;
    font-family: Inter;
    font-size: 22px;
    word-spacing: 2px;
}
.text-part-one h2{
    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
    text-transform: capitalize;
}
.text-part-one p{
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
}
.design-part {
    width: 430px;
    height: 430px;
    border-radius: 50%;
    border: 15px solid #F00;
    margin-left: 450px;
    margin-top: -352px;
  
}
.design-img{
    width: 364px;
    height: 364px;
}
.design-img img{
    padding-top: 30px;
    padding-left: 30px;
}

.text-part-two{
    position:relative;
    font-family: Inter;
    font-style: normal;
    bottom: 90%;
    left: 83%;
    
}
.text-part-two h1{
    color: #F00;
    font-size: 48px;
    font-weight: 700;
}
.text-part-two p{
    color: rgba(7, 2, 17, 0.60);
    font-size: 20px;
    font-weight: 400;
}
.small-img{
    padding: 38px 0px 0px 0px;
}


.product-container{
    width: 1600px;
    height: 7335px;
    margin: 100px 126px;

}
.product-title{
    font-style: normal;
}
.product-title h4{
    color: #F00;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
}
.product-title h2{
    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
    text-transform: capitalize;
}
.product-title p{
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
}
.product-img{
    display: flex;
    flex-wrap: wrap;
    padding: 20px 0px;
    gap: 24px;

}
.product-item img{
    border-radius: 18px;

}








